node_modules/
.expo/
dist/
web-build/
ios/build/
android/build/
android/app/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
.env.local
npm-debug.*
yarn-error.*
.DS_Store
coverage/
*.tsbuildinfo
store/google-service-account.json
